<p id="notice"><%= notice %></p>

<p>
  <strong>Map:</strong>
  <%= @point.map %>
</p>

<p>
  <strong>Content:</strong>
  <%= @point.content %>
</p>

<%= link_to 'Edit', edit_point_path(@point) %> |
<%= link_to 'Back', points_path %>
