<!DOCTYPE html>
<html>
  <head>
    <title>Vacay</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Vacay</title>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link href="https://unpkg.com/js-offcanvas/dist/_css/prefixed/js-offcanvas.css" rel="stylesheet">

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <script src="https://unpkg.com/js-offcanvas/dist/_js/js-offcanvas.pkgd.min.js"></script>
  </head>

  <body>
    <div id="main" class="main">
      <nav class="navbar is-info">
        <div class="navbar-brand">
          <a class="navbar-item" href="localhost:3000">Vacay</a>
          <a id="hamburger" role="button" class="navbar-item"><i class="fas fa-bars"></i></a>
        </div>
      </nav>

      <div class="container is-fullhd">
        <div id="map"></div>
      </div>
    </div>

    <aside id="menu">
      <nav class="navbar is-info"></nav>
    </aside>

    <%= yield %>

  </body>
</html>
