<!DOCTYPE html>
<html>
  <head>
    <title>Vacay</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Vacay</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.0/css/bulma.min.css" />
    <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item" href="http://localhost:3000">Vacay</a>

          <a role="button" id="navbar-burger" class="navbar-burger" aria-label="menu" aria-expanded="false">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>

        <div id="navbar-menu" class="navbar-menu">
          <div class="navbar-end">
            <% if user_signed_in? %>
              <%= link_to "My Maps", user_path(current_user), class: "navbar-item" %>
            <% else %>
              <%= link_to "Login", new_user_session_path, class: "navbar-item" %>
            <% end %>
          </div>
        </div>
      </div>
    </nav>

    <%= yield %>
  </body>
</html>
